<!DOCTYPE html>
<html>
<body>

  <!DOCTYPE html>
  <html>
  <body>

  <h2>Edit Your Post</h2>

  <form action="">
  <br>
  <input type="text" name="post" value= "testing">
  <br>

  </form>
  
  </body>
  </html>

</body>
</html>
