<head>
  <title>UCSB Ride2School</title>

  {{> bootstrap-from-cdn-head }}
  <style>
  	body {
		/*background-image: url("https://www.ucsb.edu/sites/default/files/images/2018-03/homepage-quote-best-kept-secret.jpg");*/

		background-image: url("https://i.imgur.com/LrRT6pe.jpg");
		background-size: cover;
		background-attachment: fixed;
		background-repeat: no-repeat;
	}
	.panel {
		border: 2px solid white;
		border-radius: 20px;
		background:transparent;
		padding: 5px;
	}
</style>
</head> 