<!DOCTYPE html>
	<html>
	{{> head }}
	<body> {{> nav }}
	 <form action="/recovery" style="border:1px solid #ccc">
	  <div class="container">
	    <h1>Account Recovery</h1>
	    <p>Please enter your email</p>
	    <label for="email"><b>Email</b></label>
	    <input type="text" placeholder="Enter Email" name="email" required>
	    <br>
	   	 <button type="submit">Submit</button>
	   	</br>
	  </div>
	</form>  		
  	{{> bootstrap-from-cdn-body }}
	</body>
</html>
